test-results
node_modules
coverage
orbitdb*/
relay/test-relay-datastore/
playwright-report/
p2p-todo-demo

server-helia*/
server-orbitdb/

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
